/* código omitido */

body {
    background-color: rgb(78, 23, 13);
    color: green;
    font-family:"Nerko One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #200f0e;
    color: white;
    font-family: "New Amsterdam", sans-serif;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
img {
    max-width: 50%;
}
